.left_inner_block {
    width: 50%;
    float: left;
    padding: 20px;
}

.right_inner_block {
    width: 50%;
    float: right;
    padding: 20px;
}

.blue_background {
    background-color: #acd8ff;
    border: none;
    border-radius: 10px;
}

.medium_text {
    font-size: 25px;
}

.small_text {
    font-size: 14px;
}

.btn_margin {
    margin: 5px;
}

.domino_logo {
    width: 332px;
    height: 201px;
    margin-bottom: 49px;
    margin-left: 17px;
    margin-right: 17px; 
}

.hover_shadow {
    transition: box-shadow .3s;
}

.hover_shadow:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card_open {
    position: "absolute";
    width: 275px;
    height: 380px;
    text-align: center;
    transition: height 0.6s ease-out 0.1s;
    overflow: hidden;
}

.circle {
    font-size: 1em;
    height: 180px;
    width: 180px;
    background-color: #007bff;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;

}


.network_sum {
    font-size: 1em;
    height: 180px;
    width: 180px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    fill: white;
}

.card_close {
  position: "absolute";
  width: 275px;
  height: 0px;
  transition: height 0.1s ease-out, border-color 0s linear 0.1s;
  border-color: white;
  overflow: hidden;
  text-align: center;
}

.recharts-legend-item-text { 
  font-size: 0.25em; 
}
