.left_inner_block {
    width: 50%;
    float: left;
    padding: 20px;
}

.right_inner_block {
    width: 50%;
    float: right;
    padding: 20px;
}

.blue_background {
    background-color: #acd8ff;
    border: none;
    border-radius: 10px;
}

.medium_text {
    font-size: 25px;
}

.small_text {
    font-size: 14px;
}

.btn_margin {
    margin: 5px;
}

.domino_logo {
    width: 332px;
    height: 201px;
    margin-bottom: 49px;
    margin-left: 17px;
    margin-right: 17px; 
}

.hover_shadow {
    transition: box-shadow .3s;
}

.hover_shadow:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card {
    width: 275px;
    height: 350px;
    text-align: center
}

.circle {
    font-size: 40px;
    height: 180px;
    width: 180px;
    background-color: #007bff;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;

}
